version: '3'

services:
  # Database
  db:
    image: mysql:8.0
    container_name: wp_db
    volumes:
      - db_data:/var/lib/mysql
    restart: always

    environment:
      MYSQL_ROOT_PASSWORD: '${MYSQL_ROOT_PASSWORD}'
      MYSQL_DATABASE: '${MYSQL_DATABASE}'
      MYSQL_USER: '${MYSQL_USER}'
      MYSQL_PASSWORD: '${MYSQL_PASSWORD}'
    expose:
      - 3306
      - 33060
    networks:
      - wp

  # PhpMyAdmin
  phpmyadmin:
    depends_on:
      - db
    image: phpmyadmin:5-fpm-alpine
    restart: always
    ports:
      - '8080:80'
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: '${MYSQL_PASSWORD}'
    networks:
      - wp

  # Webserver
  wordpress:
    ports: ['8000:80'] # localhost:4000
    depends_on:
      - db

    image: wordpress:latest
    container_name: wp
    restart: always
    volumes: ['./html:/var/www/html']
    environment:
      WORDPRESS_DB_HOST: '${WORDPRESS_DB_HOST}'
      WORDPRESS_DB_USER: '${WORDPRESS_DB_USER}'
      WORDPRESS_DB_PASSWORD: '${WORDPRESS_DB_PASSWORD}'
      WORDPRESS_DB_NAME: '${WORDPRESS_DB_NAME}'
    networks:
      - wp

networks:
  wp:
volumes:
  db_data:
